{% extends "base.html" %}
{% block title %}
{% if is_edit %}       
  Редактировать запись
{% else %}
  Добавить запись
{% endif %}
{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">

          {% if form.errors %}
            {% for field in form %} 
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

          {% if is_edit %}       
            Редактировать запись
          {% else %}
            Добавить запись
          {% endif %}

        </div>
        <div class="card-body">
          {% if is_edit %}
            <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_edit' post.pk %}">
          {% else %}
            <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_create' %}">
          {% endif %}
            {% csrf_token %}
            
            <div class="form-group row my-3 p-3">
              <label for="{{ field.id_text }}">
                Текст поста                  
                <span class="required text-danger" >*</span>                  
              </label>
              <textarea name="text" cols="40" rows="10" class="form-control" required id="id_text">
                {% if is_edit %}
                  {{ post.text }}
                {% endif %}
              </textarea>                
              <small id="{{ field.help_text }}" class="form-text text-muted">
                Текст нового поста
              </small>                  
            </div>            
            <div class="form-group row my-3 p-3">
              <label for="{{ field.id_group }}">
                Группа                 
              </label>
              <select name="group" class="form-control" id="id_group">
                <option value="" selected>---------</option>
                {% for item in form.group %}
                  <option value="{{ group.pk }}">{{ item }}</option>
                {% endfor %}
              </select>
              <small id="{{ field.help_group }}" class="form-text text-muted">
                Группа, к которой будет относиться пост
              </small>
            </div>

            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}       
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
